/*Add CSS styles here*/

#map { height: 800px;
        width: 80%;
        display: inline-block;
        /* border: 3px solid; */
        /* margin:auto; */
        /* padding: 10px;       */
        }

#panel {  
        width: 25%;  
        padding: 20px;  
        display: inline-block;  
        vertical-align: top;  
        text-align: center;  
        line-height: 42px;  
        }  
        
        .range-slider {  
        width: 80%;  
        }  
        
        .step {  
        width: 50%;  
        }  
        
        .step img {  
        width: 100%;  
        }  
        
        #forward {  
        float: right;  
        }  
        
        #reverse {  
        float: left;  
        }

.leaflet-popup-content p {
        margin: 0.2em 0;
}