/* Stylesheet by Morgan, 2024 */
.countries {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 2px;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}
.gratBackground {
    fill: #D5E3FF;
}

.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
}

.chart {
    background-color: rgba(128,128,128,.2);
    border: medium solid #999;
    float: right;
    margin: 10px 20px 0 0;
}
.numbers {
    fill: white;
    font-size: 0.399em;
    font-family: sans-serif;
}
.chartTitle {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
}