/* Stylesheet by Morgan, 2024 */
.countries {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 2px;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}
.gratBackground {
    fill: #D5E3FF;
}

.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
}

.chart {
    background-color: rgba(128,128,128,.2);
    border: medium solid #999;
    float: right;
    margin: 10px 20px 0 0;
}
.numbers {
    fill: white;
    font-size: 0.399em;
    font-family: sans-serif;
}
.chartTitle {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.dropdown {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}